<!DOCTYPE html>
<html>
<style>
    body {
        font-family: 'Lato', georgia;
        font-size: 25px;
        text-align: center;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }
</style>

<body>
    <div class="container">
        <h1>

        </h1>
        <h2>GET LINK DONE!</h2>
        
        <p></p>
    </div>
    <a href="<%=link128%>">LINK 128</a>
    <a href="<%=link320%>">LINK 320</a>
    <a href="<%=lossless%>">LOSSLESS</a>
    <a href="<%=QR%>">LINK QR</a>
    <hr>

    
</body>

</html>